chardet==4.0.0
numpy==1.19.5
pandas==1.2.1
pdfminer.six==20200517
pdfplumber==0.5.25
Pillow==8.1.0
pycryptodome==3.9.9
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
sortedcontainers==2.3.0
validate-docbr==1.8.2
Wand==0.6.5